@font-face {
    font-family: SolaimanLipi;
    src: url("../fonts/SolaimanLipi_20-04-07.ttf");
}

h1,
h2,
h3,
h4,
p,
UL {
    margin: 0px;
    padding: 0px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: SolaimanLipi, sans-serif;
}

/* top bar containear start */
.main-menu.header-sticky.sticky {
    position: sticky;
    z-index: 9;
    width: 100%;
    top: 0;
    transition: .5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.top-bar-container {
    background-color: black;
    font-size: 16px;
    padding: 0 15px;
    margin-top: 5px;
}

.top-bar-link.text-center.text-md-start.ps-0.ps-md-3 {
    margin-top: 2px;
}

.top-bar-social-icon {
    margin-left: 50px;
}

.top-bar-link {
    padding: 6px 0;
}

.top-bar-link ul li {
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-flex;
}

.top-bar-link ul li:after {
    content: "|";
    padding: 0 5px;
}

.top-bar-link ul li:last-of-type:after {
    display: none;
}

.top-bar-social-icon a {
    color: white;
    padding: 0 3px;
}

.top-header-right {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 6px 0;
}
h1.paragraph-item {
    text-align: center;
    margin: 10px;
}
.top-bar-link ul {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
/* top bar container end  */


/* search bar section start */

input.form-control {
    height: 28px;
    border: solid 1px;
}

button#button-addon2 {
    height: 28px;
}

/* search bar section end  */
div#megaMenu {
    width: 100%;
    position: absolute;
    background: red;
    padding: 10px;
    top: 100%;
}

ul.mega-links {
    margin: 0;
    padding: 0;
}

ul.mega-links li {
    list-style: none;
}



.content {
    display: flex;
    justify-content: space-between;
}

/* .mega-menu start */

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:after {
    content: "|";
    padding: 0 5px;
}

.menu a:last-of-type:after {
    display: none;
}

.main p {
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul.mega-links li a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    padding: 5px 0;
    display: block;
}


/* .mega-menu start */
.mega-menu {
    background: white;
    /* box-shadow: 0 0 2px 2px silver; */
    width: 110%;
    padding: 10px 5px;
    z-index: 9;
    top: 100%;
    position: absolute;
}

.row.mega-menu a {
    display: block;
    color: black;
    overflow: hidden;
    text-decoration: none;
    padding: 3px 0;

}

.menu a {
    color: white;
    text-decoration: none;
}

div#menu a {
    color: white;
}

.row.mega-menu a:hover {
    display: block;
    color: black;

    text-decoration: none;
    padding: 3px 0;
}

.row.mega-menu-bottom {
    border-top: 1px solid silver;
    padding: 15px 10px;

    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.menu a {
    color: black;
    text-decoration: none;

}

.menu a:hover {
    color: red;
}

.menu-container {
    border-bottom: 1px solid silver;
}

.more-menu {
    cursor: pointer;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 li a {
    color: #fff;
    font-size: 1.2rem;
}

div#more-menu {
    color: #fff;
    font-size: 1.2rem;
}

.dropdown-menu {
    background-color: #215837;
}

.dropdown-menu li a:hover {
    background-color: #639978;
}

/* .mega-menu start */
a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.first_lead_news .ld_news_image img {
    width: 100%;
}

.first_lead_news {
    position: relative;
    overflow: hidden;
}

.news_top_link {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.ld_news_content {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px;
    padding-top: 40px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .8) 100%);
    left: 0;
    right: 0;
}

.first_lead_news .ld_news_content h1.main_lead_title {
    font-size: 32px;
}

.first_lead_news:hover .ld_news_image img {
    opacity: 0.85;
}

.first_lead_news .ld_news_content h1 {
    color: #FFF;
    font-size: 24px;
    margin: 0px;
    margin-bottom: 10px;
    padding-top: 15px;
}

.catTitleBackground .left .catName a,
.catTitleBackground .left .catName a::before {
    background: #b30f0f;
}

.catTitleBackground {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    background: #2E6444;
    max-height: 35px;
}

.catTitleBlock {
    padding: 10px 0;
    overflow: hidden;
    margin: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.single-block img {
    width: 100%;
    font-size: 12px;
    line-height: 1;
    color: #a2a2a2;
}

.catTitleBackground .right {
    float: right;
    font-size: 20px;
    padding-top: 8px;
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
}

/* .catTitleBackground .left .catName a, .catTitleBackground .left  .catName a::before {
  background: #b30f0f;
} */
.catTitleBackground .left .catName a {
    color: #FFF;
    position: relative;
    padding: 6px 50px;
    padding-left: 10px;
    display: inline-block;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    margin-left: -5px;
    overflow: hidden;
}

.catTitleBlock .left .catName a {

    text-decoration: none;
}

.catTitleBackground {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 20px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    background: #2E6444;
    max-height: 35px;
}

.box-white .single-block {
    border: 1px solid #f1f1f1;
    position: relative;
    margin-bottom: 20px;
    min-height: 180px;
    background: #FFF;
}

.single-block .img-box {
    position: relative;
}

.box-white,
.white-box {
    background: #fff !important;
}

.jagoTab2 {
    background: #fff;
    margin-bottom: 20px;
}

.jagoTab2 .nav-tabs {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.jagoTab2 .nav-tabs {
    color: #000;
    background: #d2d2d2;
}

.jagoTab2 .nav-tabs {
    border: none;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ol,
ul {
    overflow-wrap: break-word;
}


.jagoTab2 .nav-tabs>li.active>a,
.jagoTab2 .nav-tabs>li.active>a:focus,
.jagoTab2 .nav-tabs>li.active>a:hover {
    border: none;
    border-radius: 0;
    background: #b0b0b0;
    color: #000;
    border-top: none;
}

.tab-content>.active {
    display: block;
}

.ld_news_image.imageresize img {
    object-fit: fill;
    height: 350px;
}

.ld_news_image img {
    height: 165px;
    object-fit: fill;
}

/* =================================================sidebar ========================================================== */
.sidebar-button-area button {
    border: none;
    background: #3a495f;
    color: white;
    padding: 10px 25px;
    margin-top: 5px;
    border-radius: 5px;
    /* font-size: 18px; */
    width: 49%;
}

.sidebar-button-area button:hover {

    background: #2E6444;
}

.news-feed-nav button {
    width: 49%;
    border: none;
    padding: 10px;
    border-radius: 5px;

}

.news-feed-nav .active {
    background: #2E6444;
    color: white;

}

.news-feed-latest>.row {
    padding: 3px 0;

}

.news-feed-latest>.row a {

    text-decoration: none;
    color: black;

}

.news-feed-latest .row {

    border-bottom: 2px solid silver;

}

#most_read_news {
    max-height: 350px;
}

#latest_news {
    max-height: 250px;
}

.news-feed-latest {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.news-feed-latest::-webkit-scrollbar {
    width: 2px;
}

.news-feed-latest::-webkit-scrollbar-thumb {
    background-color: #2E6444;
}

.sidebar-button-area button {
    border: none;
    background: #2E6444;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 5px;
    width: 49%;
}

.news-feed-nav {
    max-height: 300px;
}

.news_feed_all_news_button button {
    width: 100%;
    border: none;
    padding: 4px;
    border-radius: 3px;
    margin-top: 9px;
    background-color: #2E6444;
    color: white;
}

.rightSideBar {
    position: sticky;
    top: 5%;
}


/* --------e-paper start------------- */
.e-paper .card-header a {
    text-decoration: none;
    color: black;
}

.e-paper {
    margin-top: 5px;
}

/* --------e-paper end------------- */

/* --------------.survey-area start -----------------*/

.survey-result a {
    text-decoration: none;
    color: black;
    text-align: right;
}

.survey-result {

    text-align: right;
}

button.btn.btn-success.p-2 {
    margin-left: 90px;
}

/* --------------.survey-area end -----------------*/
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

.navbar-static-top {
    border-radius: 0;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}


element.style {
    border-color: #444242;
}

.footer {
    width: 100%;
    background: #000;
    padding: 10px 0;
    color: #f1f1f1;
    border-bottom: 1px solid #222;
}

ul.footer-menu li {
    width: 16%;
    float: left;
}

ul.footer-menu li a {
    color: #fff;
    transition: .5s;
}

ul.footer-menu li a:hover {
    color: red;
}

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    color: #660404;
    width: 30px;
    height: 30px;
    border: 2px solid #660404;
    line-height: 20px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

element.style {
    margin: 0 0 10px 0;
    width: 100%;
    background: #000;
    border: 1px solid #000;
    text-align: center;
    font-size: 15px;
    padding: 10px;
}




.main-menu li {
    position: relative;
    display: inline-block;
    padding: 10px;
}

.main-menu li a {
    text-transform: capitalize;
    display: block;
    /* padding: 15px 10px; */
}

.main-menu .main-menu li:hover ul.submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.main-menu li ul.submenu {
    transition: .5s;
    background: #215837;
    /* background: #000; */
    width: 150px;
    margin: 0;
    opacity: 0;
    top: 130%;
    position: absolute;
    visibility: hidden;
    z-index: 999;
}

.main-menu li ul.submenu li:hover {
    background: #005e26
}

.main-menu li ul.submenu li {
    list-style: none;
    display: block;
    /* padding: 5px 10px; */
    transition: .5s;
    border-top: 1px solid #ddd;
}

.main-menu li ul.submenu li a {
    font-size: 15px !important;
    /* padding: 5px 10px; */
    transition: .5s;
}

.main-menu li ul.submenu li:hover a {
    margin-left: 10px;
}
